/* Provide sufficient contrast against white background */

a {
  color: #0366d6;
}
html {
    font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;
}
body {
    background-color: whitesmoke;
}
ul {
    list-style-type: none;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
